@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  src: url('../fonts/libre_baskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/libre_baskerville/LibreBaskerville-Italic.ttf');
}

@font-face {
  font-family: 'Petit';
  font-weight: 400;
  src: url('../fonts/petit/PetitFormalScript-Regular.ttf');
}